/* iPad Landscape Orientation */
@media only screen and (min-width:1024px) and (max-width:1060px) {
    .first {
        width: 900px;
    }
    
    header {
        width: 900px;
    }
    
    .first .left {
        width: 410px;
    }
    
    .first .right {
        width: 470px;
    }
    
    .subname-content-item {
        background-position: center center;
    }
    
    .projects .container {
        width: 900px;
    }
    
    .project-image {
        width: 390px;
        height: 230px;
    }
    
    .project-info {
        width: 450px;
    }
    
    .about-me {
        width: 900px;
    }
    
    .directions .direction {
        width: 420px;
    }
    
    .direction .direction-text {
        width: 290px;
    }
    
    footer {
        width: 900px;
    }
    
    .project-item:hover .project-image {
        height: 240px;
    }
    
    .post {
        width: 900px;
    }
}

/* iPad Portrait Orientation */
@media only screen and (min-width:750px) and (max-width:1020px){
    .first {
        width: 100%;
    }
    
    header {
        width: 700px;
    }
    
    .first .left {
        width: 60%;
        padding-left: 50px;
        box-sizing: border-box;
    }
    
    .first .right {
        width: 40%;
    }
    
    .subname-content-item {
        background-position: center center;
    }
    
    .projects .container {
        width: 100%;
    }
    
    .project-image {
        width: 36%;
        height: 250px;
    }
    
    .project-info {
        width: 60%;
        box-sizing: border-box;
    }
    
    .project-item:nth-child(odd) .project-info {
        padding-left: 50px;
    }
    
    .project-item:nth-child(even) .project-info {
        padding-right: 50px;
    }
    
    .about-me {
        width: 700px;
    }
    
    .directions .direction {
        width: 320px;
    }
    
    .direction .direction-text {
        width: 190px;
    }
    
    footer {
        width: 700px;
    }
    
    .project-item:hover .project-image {
        height: 260px;
    }
    
    .post {
        width: 700px;
    }
    
    #waypoint .subname:before {
        width: 310px;
    }
    
    .first .macbook {
        width: 100%;
        height: 270px;
        background-position: left;
    }
    
    .first .title {
        font-weight: bold;
        font-size: 28px;
        padding: 100px 0px 20px 50px;
    }
    
    .last {
        width: 700px;
    }
    
    .navigation-item span {
        display: none;
    }
    
    .navigation-item .adaptive-navig {
        display: block!important;
    }
}

/* iPhone */
@media only screen and (min-width:220px) and (max-width:749px){
    header {
        padding: 44px 0px;
        width: 100%;
        text-align: center;
    }
    
    header a,
    footer a {
        font-size: 17px;
        padding: 0px 3px;
    }
    
    .first,
    .auth,
    .panel {
        width: 100%;
    }
    
    .first .left {
        width: 100%;
        float: none;
    }
    
    .first .name,
    .auth .title {
        font-size: 48px;
        text-align: center;
    }
    
    .first .subname {
        width: 100%;
        text-align: center;
        font-size: 21px;
    }
    
    .subname-content-item {
        padding: 0px 0px;
        height: 39px;
        line-height: 39px;
    }
    
    .first .right {
        width: 100%;
        float: none;
    }
    
    .first .macbook {
        width: 100%;
        height: 230px;
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .first .title {
        text-align: center;
    }
    
    .projects .container {
        width: 100%;
        margin: 0px auto;
    }
    
    .project-image {
        width: 100%;
        height: 240px;
        background-size: cover;
    }
    
    .project-item:hover .project-image {
        height: 240px;
        margin-top: 0px;
    }
    
    .project-item:nth-child(even) .project-image,
    .project-item:nth-child(odd) .project-image,
    .project-item:nth-child(even) .project-info,
    .project-item:nth-child(odd) .project-info {
        float: none;
    }
    
    .project-info {
        width: 100%;
        padding: 60px 40px;
        box-sizing: border-box;
    }
    
    .project-item .title, .project-item .category {
        text-align: center;
    }
    
    .project-item .category {
        padding-top: 16px;
    }
    
    .project-info .button {
        width: 100%;
        padding: 18px 0px;
        margin-top: 18px;
        float: none;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
    }
    
    .project-info a {
        text-decoration: none;
    }
    
    .projects .title-more {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        padding: 90px 40px;
    }
    
    .about-me {
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
        text-align: center;
    }
    
    .directions .direction {
        width: 100%;
        box-sizing: border-box;
        padding: 30px 40px;
    }
    
    .direction .icon {
        width: 110px;
        height: 96px;
        float: none;
        margin: 0px auto;
    }
    
    .direction .direction-text {
        float: none;
        width: 100%;
        text-align: center;
        padding-top: 24px;
    }
    
    .last {
        text-align: center;
        width: 100%;
        padding: 100px 20px;
        margin: 0px auto;
        font-size: 28px;
        box-sizing: border-box;
    }
    
    footer {
        width: 100%;
        margin-top: 60px;
        border-top: 2px solid #e5e5e5;
        padding: 40px 30px;
        box-sizing: border-box;
    }
    
    footer .left {
        float: none;
    }
    
    footer .right {
        float: none;
        display: none;
    }
    
    footer .links {
        text-align: center;
    }
    
    footer .name {
        text-align: center;
        font-size: 20px;
    }
    
    #waypoint .subname:before {
        width: 100%;
    }
    
    .post {
        padding: 20px 20px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .post-head .navigation-box {
        width: 0%;
        float: none;
        display: none;
    }
    
    .post .post-title {
        width: 100%;
    }
    
    .post-full {
        padding: 40px 0px;
    }
    
    .post-full blockquote,
    .editor blockquote {
        text-decoration: none;
        margin: 0;
        padding: 40px 0px;
    }
    
    .share {
        padding: 0px 0px;
    }
}