@import '../fonts/fonts.css';
body {
    margin: 0;
    font-family: 'SF', sans-serif;
}

header {
    padding: 44px 0px;
    width: 1000px;
    margin: 0px auto;
    text-align: right;
    letter-spacing: -1px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header a,
footer a {
    padding: 0px 12px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

header .active-link,
footer .active-link {
    color: #0c5af8;
}

header a:hover,
footer a:hover {
    color: #0c5af8;
}

.first,
.auth,
.panel {
    padding: 20px 0px;
    width: 1000px;
    margin: 0px auto;
}

.first .left {
    width: 460px;
    float: left;
    padding: 35px 0px;
    box-sizing: border-box;
}

.first .right {
    width: 520px;
    float: right;
}

.first .name,
.auth .title {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -3px;
}

.first .subname {
    font-weight: 400;
    font-size: 24px;
    color: #6b6b6b;
    letter-spacing: -1px;
    margin-top: 30px;
    height: 40px;
    overflow: hidden;
}

#waypoint .subname:before {
    width: 460px;
    height: 40px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    content: '';
    display: block;
    position: absolute;
}

.first .macbook {
    width: 520px;
    height: 296px;
    background: url('../images/macbook.png');
    background-size: cover;
    background-position: center;
}

.first .title {
    font-weight: bold;
    font-size: 28px;
    padding: 100px 0px 20px 0px;
}

.clear {
    clear: both;
}

.projects {
    padding: 20px 0px;
    width: 100%;
}

.projects .container {
    width: 1000px;
    margin: 0px auto;
}

.project-item {
    padding-top: 50px;
}

.project-item:nth-child(even) {
    background: #f3f4f8;
}

.project-image {
    width: 440px;
    height: 260px;
    background-size: cover;
    background-position: center center;
    border-radius: 4px 4px 0px 0px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.project-item:hover .project-image {
    height: 276px;
    margin-top: -16px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.project-item:nth-child(even) .project-image {
    float: left;
}

.project-item:nth-child(odd) .project-image {
    float: right;
}

.project-item:nth-child(even) .project-info {
    float: right;
}

.project-item:nth-child(odd) .project-info {
    float: left;
}

.project-info {
    width: 500px;
    padding-top: 16px;
}

.project-item .title {
    font-weight: bold;
    font-size: 28px;
}

.project-item .category {
    font-size: 18px;
    font-weight: 500;
    color: #7f7f7f;
    letter-spacing: -0.5px;
    padding-top: 2px;
}

.project-info .about {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: normal;
    padding-top: 18px;
    text-align: justify;
}

.project-item:nth-child(odd) .project-info .button {
    background: #ee4c4c;
}

.project-item:nth-child(odd) .project-info .button:hover {
    background: #e84747;
}

.project-item:nth-child(even) .project-info .button {
    background: #4c90ee;
}

.project-item:nth-child(even) .project-info .button:hover {
    background: #4689e6;
}

.project-info .button {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin-top: 12px;
    float: left;
    cursor: pointer;
}

.projects .title-more {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 90px 0px;
}

.projects .title-more a {
    text-decoration: none;
    color: #0c5af8;
}

.about-me .title {
    font-weight: bold;
    font-size: 28px;
}

.about-me {
    width: 1000px;
    margin: 0px auto;
}

.about-me .text {
    font-size: 20px;
    color: #4f4f4f;
    font-weight: normal;
    padding: 16px 0px;
}

.about-me .directions {
    padding: 20px 0px;
}

.directions .direction {
    width: 470px;
}

.directions .direction:nth-child(odd) {
    float: left;
}

.directions .direction:nth-child(even) {
    float: right;
}

.direction .icon {
    width: 110px;
    height: 96px;
    background: url('../images/directions_icons.png');
    background-size: cover;
    float: left;
}

.direction:nth-child(odd) .icon {
    background-position: -0px -0px;
}

.direction:nth-child(even) .icon {
    background-position: -0px -96px;
}

.direction .direction-text {
    float: right;
    width: 320px;
}

.direction .title {
    font-size: 20px;
    font-weight: bold;
    color: #4f4f4f;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url('../images/text_mask.jpg');
    background-position: center left;
}

.direction .text-dir {
    font-size: 15px;
    color: #4f4f4f;
    font-weight: normal;
    padding-top: 16px;
    text-align: justify;
}

.last {
    text-align: center;
    width: 800px;
    margin: 140px auto;
    font-size: 60px;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url('../images/motion.gif');
    background-size: cover;
    background-position: center bottom;
    color: #000;
}

footer {
    width: 1000px;
    margin-top: 60px;
    border-top: 2px solid #e5e5e5;
    margin: 60px auto 0px auto;
    padding: 40px 0px;
}

footer .left {
    float: left;
}

footer .name {
    font-weight: 800;
    color: #888888;
    font-size: 24px;
    letter-spacing: -2px;
}

footer .name span {
    color: #b0b0b0;
    font-weight: 500;
}

footer .links {
    padding-top: 10px;
    color: #0c5af8;
}

footer .links a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #0c5af8;
    padding: 0px!important;
}

footer .links a:hover {
    border-bottom: 1px solid #9bbcff;
}

footer .right {
    float: right;
    padding: 16px 0px;
}

.first .subname-content {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #777;
}

#waypoint .subname-content {
    -webkit-animation: 'slider' 18s ease-in-out infinite;
    animation: 'slider' 18s ease-in-out infinite;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

@-webkit-keyframes 'slider' {
    0% {
        margin-top: 0px;
    }
    10% {
        margin-top: -39px;
    }
    20% {
        margin-top: -78px;
    }
    30% {
        margin-top: -117px;
    }
    40% {
        margin-top: -156px;
    }
    50% {
        margin-top: -195px;
    }
    60% {
        margin-top: -234px;
    }
    70% {
        margin-top: -273px;
    }
    80% {
        margin-top: -312px;
    }
    90% {
        margin-top: -351px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes 'slider' {
    0% {
        margin-top: 39px;
    }
    10% {
        margin-top: 0px;
    }
    20% {
        margin-top: -39px;
    }
    30% {
        margin-top: -78px;
    }
    40% {
        margin-top: -117px;
    }
    50% {
        margin-top: -156px;
    }
    60% {
        margin-top: -195px;
    }
    70% {
        margin-top: -234px;
    }
    80% {
        margin-top: -273px;
    }
    90% {
        margin-top: -312px;
    }
    100% {
        margin-top: -351px;
    }
}

.fixed {
    position: fixed;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.auth-input {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: -3px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    padding: 20px 0px;
    margin-top: 10px;
    font-family: 'SF', sans-serif;
    outline: none;
    width: 100%;
}

.panel .title {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -3px;
}

.preload {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.99);
    position: fixed;
    z-index: 90000;
}

.loading {
    width: 40px;
    height: 40px;
    background: url('../images/loading.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: 'rotate' 800ms cubic-bezier(.97, -0.33, .49, 1.38) infinite;
    animation: 'rotate' 800ms cubic-bezier(.97, -0.33, .49, 1.38) infinite;
}

@-webkit-keyframes 'rotate' {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes 'rotate' {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.panel .left {
    width: 200px;
    padding: 14px 0px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
}

.panel-content {
    padding-top: 40px;
}

.panel .button {
    margin: 6px 16px;
    padding: 12px 0px;
    text-align: center;
    background: #0c5af8;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.panel span {
    color: #9e9e9e;
    font-weight: bold;
    font-size: 54px;
}

.panel .link {
    padding: 12px 18px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}

.panel .link:hover {
    background: #f6f6f6;
    color: #000;
}

.panel .links {
    padding-top: 12px;
}

.links .active-link {
    border-left: 3px solid #0c5af8;
    padding-left: 15px;
}

.panel .right {
    width: 780px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
}

.panel .project-list {}

.panel .item {
    padding: 14px 16px;
}

.panel .name {
    font-weight: 600;
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.panel .item:hover {
    background: #f6f6f6;
}

.item .actions {
    float: right;
    opacity: 0;
}

.panel .item:hover .actions {
    opacity: 1;
}

.item .actions a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.item .actions a:nth-child(odd) {
    color: #0c5af8;
}

.item .actions a:nth-child(even) {
    color: #f83434;
}

.editor {
    width: 1000px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.extra-title {
    width: 1000px;
    padding: 12px 0px;
    margin: 0px auto;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
}

.extra-title .info {
    padding-top: 16px;
}

.form input,
.form textarea {
    padding: 14px 20px;
    font-family: 'SF', sans-serif;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    margin-bottom: 12px;
    resize: none;
}

.info textarea {
    margin-bottom: 0px;
    height: 240px;
}

.form input:last-child {
    margin-bottom: 0px;
}

.form {
    width: 1000px;
    margin: 0px auto;
}

.form .button {
    margin: 6px auto;
    padding: 12px 16px;
    text-align: center;
    background: #0c5af8;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    font-family: 'SF', sans-serif;
    font-size: 20px;
    display: block;
}

header .links {
    float: right;
}

.editor-header {
    text-align: left;
}

.image-upload-box {
    position: absolute;
    width: 460px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding: 16px 16px 0px 16px;
}

.image-upload-box.ng-hide-add,
.image-upload-box.ng-hide-remove {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.image-upload-box.ng-hide {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    margin-top: 20px;
}

#uploadForm {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.upload-button {
    margin: 6px auto;
    padding: 16px 0px;
    text-align: center;
    background: #0c5af8;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    font-family: 'SF', sans-serif;
    font-size: 15px;
    display: block;
}

#userfile {
    position: absolute;
    width: 300px;
    height: 50px;
    outline: none;
    cursor: pointer;
    opacity: 0;
}

.images-list {
    width: 100%;
    max-height: 234px;
    overflow-y: auto;
}

.uploaded-image {
    width: 60px;
    height: 30px;
}

.image-item {
    width: 100%;
    height: 80px;
    padding-bottom: 10px;
}

.item-image {
    width: 120px;
    height: 80px;
    background-size: 120%;
    background-position: center center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    float: left;
}

.item-image:hover {
    background-size: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.item-src {
    width: 324px;
    float: right;
    padding: 10px 0px;
}

.item-src input {
    width: 100%;
    padding: 8px 16px;
    font-family: 'SF', sans-serif;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 6px;
}

.item-src span {
    font-size: 15px;
    color: #666;
}

.images-list .title {
    padding: 10px 0px;
    font-weight: bold;
}

.image-upload-icon {
    float: left;
    background: url('../images/add_photo.png');
    width: 200px;
    height: 20px;
    padding-left: 42px;
    background-size: 25px 20px;
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.empty-images {
    padding: 26px 0px 42px 0px;
    text-align: center;
    color: #666;
}

.form .left {
    width: 58%;
    float: left;
}

.form .right {
    width: 40%;
    float: right;
}

.length {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    left: 18px;
    bottom: 32px;
    width: 50px;
    color: #aaa;
}

.panel a {
    text-decoration: none;
    color: inherit;
}

.post {
    padding: 20px 0px;
    width: 1000px;
    margin: 0px auto;
}

.post .post-head {
    width: 100%;
}

.navigation-item {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #999;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 40px 0px 20px 0px;
}

.left-navig {
    float: left;
}

.navigation-item:hover {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navigation-item:before {
    content: '';
    display: block;
    width: 14px;
    height: 26px;
    background: url('../images/arrow.png');
    background-size: cover;
    margin-right: 16px;
    margin-top: 3px;
    float: left;
}

.right-navig {
    float: right;
    text-align: right;
}

.post .post-title {
    width: 60%;
    padding: 0% 20px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.post-title .post-name {
    font-weight: 800;
    font-size: 30px;
}

.post-type {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.project .post-type {
    color: #f34949;
}

.blog .post-type {
    color: #53c914;
}

.right-navig:before {
    float: right!important;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: 0px;
    margin-left: 16px;
}

.one-liner {
    line-height: 32px;
}

.post-head .navigation-box {
    width: 20%;
    float: left;
    height: 20px;
}

.post-full img,
.editor img {
    width: 100%;
    border-radius: 3px;
}

.post-full h1,
.editor h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.post-full p,
.editor p {
    padding: 10px 0px;
    margin: 0;
    font-size: 20px;
}

.post-full a,
.editor a {
    text-decoration: none;
    color: #0c5af8;
}

.post-full blockquote,
.editor blockquote {
    text-decoration: none;
    margin: 0;
    padding: 40px 110px;
    text-align: center;
    font-size: 22px;
    font-family: 'Georgia', sans-serif;
    line-height: 34px;
    display: block;
}

.post-full blockquote:before,
.editor blockquote:before {
    content: '';
    width: 30px;
    height: 27px;
    background: url('../images/quote.png');
    background-size: cover;
    display: block;
}

.post-full blockquote:after,
.editor blockquote:after {
    content: '';
    width: 30px;
    height: 27px;
    background: url('../images/quote.png');
    background-size: cover;
    display: block;
    float: right;
}

.post-full a:hover,
.editor a:hover {
    border-bottom: 1px solid #9bbcff;
}

.post-full {
    padding: 40px 100px;
}

.projects-icon {
    width: 520px;
    height: 296px;
    background: url('../images/projects.png');
    background-size: cover;
    background-position: center;
}

.subname-content-item {
    padding: 5px 0px;
    -webkit-background-clip: text;
    background-image: url('../images/text_mask.jpg');
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center bottom;
}

#waypoint .name {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url('../images/text_mask.jpg');
    background-size: cover;
}

.err-404 {
    background-size: cover;
    background-position: center center;
}

.e-1 {
    background-image: url('../images/404/back_1.jpg');
}

.e-2 {
    background-image: url('../images/404/back_2.jpg');
}

.e-3 {
    background-image: url('../images/404/back_3.jpg');
}

.e-4 {
    background-image: url('../images/404/back_4.jpg');
}

.e-5 {
    background-image: url('../images/404/back_5.jpg');
}

.e-6 {
    background-image: url('../images/404/back_6.jpg');
}

.err-overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.text-404 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url('../images/404.gif');
    font-size: 70px;
    font-weight: 600;
}

.share {
    padding: 0px 100px;
}