<!DOCTYPE html>
<html ng-app="app" ng-controller="appCtrl">
<head>
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>{{lang.SECTION}} - {{section}}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-translate.js"></script>
    <script src="js/common.js"></script>
    <script src="js/site.admin.js"></script>
</head>
<body style="overflow: hidden" ng-init="section = 'project'">
    <div class="preload">
        <div class="loading"></div>
    </div>
    <header>
        <a href=".">{{lang.HOME}}</a>|
        <a href="#" ng-click="changeLang(reverseLang[0], $cookies, translationService, $scope)">{{reverseLang[1]}}</a>
    </header>
    <section class="panel">
        <div class="title">{{lang.SECTION}} <span>{{section}}</span></div>
        <div class="panel-content">
            <div class="left">
                <a ng-href="editor?act=create&type={{section}}"><div class="button">{{lang.CREATE}}</div></a>
                <div class="links">
                    <div class="link" ng-click="section = 'project'" ng-class="(section == 'project') ? 'active-link' : false">{{lang.PROJECTS}}</div>
                    <div class="link" ng-click="section = 'blog'" ng-class="(section == 'blog') ? 'active-link' : false">{{lang.BLOG}}</div>
                </div>
            </div>
            <div class="right">
                <div class="project-list" ng-if="section == 'project'">
                    <div class="item" ng-repeat="item in admin.projects">
                        <div class="name">{{item.title}}</div>
                        <div class="actions">
                            <a target="_blank" ng-href="editor?act=edit&type={{section}}&id={{item.id}}">{{lang.EDIT}}</a>  <a href="#" ng-click="removePost(item.id)">{{lang.DELETE}}</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="project-list" ng-if="section == 'blog'">
                    <div class="item" ng-repeat="item in admin.blogs">
                        <div class="name">{{item.title}}</div>
                        <div class="actions">
                            <a target="_blank" ng-href="editor?act=edit&type={{section}}&id={{item.id}}">{{lang.EDIT}}</a>  <a href="#" ng-click="removePost(item.id)">{{lang.DELETE}}</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <div ng-include src="'tpl/footer.html'"></div>
</body>

</html>