<html ng-app="app" ng-controller="appCtrl">
<head>
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Design &amp; Development – Vladimir Simonov</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular.animate.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-translate.js"></script>
    <script src="js/common.js"></script>
    <script src="js/site.editor.js"></script>
    <script src="js/medium-editor.min.js"></script>
    <script src="js/medium-editor.blockquote.js"></script>
    <link rel="stylesheet" href="css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/editor.theme.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
</head>
<body style="overflow: hidden" ng-init="editor.boxState = 0">
    <div class="preload">
        <div class="loading"></div>
    </div>
    <header class="editor-header">
        <div class="image-uploads">
            <div class="image-upload-icon" ng-click="editor.boxState = (editor.boxState) ? 0 : 1">{{lang.UPLOAD_IMAGE_LABEL}}</div>
            <div class="image-upload-box" ng-show="editor.boxState">
                <form id="uploadForm" method="POST" action="javascript:void(null);" enctype="multipart/form-data">
                    <input name="userfile" id="userfile" type="file">
                    <div class="upload-button">{{lang.UPLOAD_IMAGE}}</div>
                </form>
                <div class="images-list">
                    <div class="title">{{lang.UPLOADED_LABEL}}</div>
                    <div class="empty-images" ng-if="!imageList.length">{{lang.EMPTY_IMAGELIST}}</div>
                    <div class="image-item" ng-repeat="image in imageList | orderBy: '-time'">
                        <div class="item-image" ng-style="image.style"></div>
                        <div class="item-src">
                            <span>{{lang.COPY_LINK}}</span>
                            <input ng-value="image.src" readonly onfocus="select(this);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="links">
            <a href=".">{{lang.HOME}}</a>
            <a href="admin">{{lang.ADMIN}}</a>
            |
            <a href="#" ng-click="changeLang(reverseLang[0], $cookies, translationService, $scope)">{{reverseLang[1]}}</a>
        </div>
    </header>
    <form class="form" method="POST" action="javascript:void(null);" ng-submit="submit()">
        <div class="extra-title">
            <div>{{params.act}} {{params.type}} {{(params.id) ? '_' + params.id : ''}}</div>
            <div class="info">
               <div class="left">
                   <textarea placeholder="Preview text" ng-model="editor.preview_text" required maxlength="240"></textarea>
                   <div class="length">{{240 - editor.preview_text.length}}</div>
               </div>
               <div class="right">
                   <input placeholder="{{lang.TITLE}}" style="font-weight: bold" ng-model="editor.title" required>
                   <input placeholder="{{lang.TYPE_OF_POST}}" ng-model="editor.type" required>
                   <input placeholder="{{lang.PREVIEW_IMAGE_URL}}" ng-model="editor.preview_image" required>
                   <input placeholder="{{lang.SHORT_POST_URL}}" ng-model="editor.url" required>
               </div>
               <div class="clear"></div>
            </div>
        </div>
        <section class="editor" data-placeholder="{{lang.FULL_TEXT_LABEL}}">
        
        </section>
        <input class="button" type="submit" value="{{lang.SAVE}}">
    </form>
</body>

</html>