<html ng-app="app" ng-controller="appCtrl">
<head>
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Design &amp; Development – Vladimir Simonov</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/media-queries.css" type="text/css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-translate.js"></script>
    <script src="js/common.js"></script>
    <script src="js/site.home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
</head>
<body ng-init="page = 'home'" style="overflow: hidden">
    <div class="preload">
        <div class="loading"></div>
    </div>
    <ng-include src="'tpl/header.html'"></ng-include>
    <section class="first" id="waypoint">
        <div class="left">
            <div class="name">{{lang.NAME}}</div>
            <div class="subname">
               <div class="subname-content">
                    <div class="subname-content-item" ng-repeat="item in lang.LIFE_ITEMS">{{item}}</div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="macbook"></div>
        </div>
        <div class="clear"></div>
        <div class="title">{{lang.RECENT_PROJECTS}}</div>
    </section>
    <section class="projects">
        <div class="project-item" ng-repeat="w in projects">
            <div class="container">
                <div class="project-image" ng-style="{'background-image': 'url(' + w.preview_image + ')'}"></div>
                <div class="project-info">
                    <div class="title">{{w.title}}</div>
                    <div class="category">{{w.type}}</div>
                    <div class="about">
                        {{w.preview_text}}
                    </div>
                    <a ng-href="project/{{w.url}}"><div class="button">{{lang.VIEW_PROJECT}}</div></a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="title-more">{{lang.CHECKOUT[0]}} <a href="projects">{{lang.CHECKOUT[1]}}</a></div>
    </section>
    <section class="about-me">
        <div class="title">{{lang.ABOUT_ME}}</div>
        <div class="text">{{lang.ABOUT_TEXT}}</div>
        <div class="directions">
            <div class="direction">
                <div class="icon"></div>
                <div class="direction-text">
                    <div class="title">{{lang.DESIGNER}}</div>
                    <div class="text-dir">
                        {{lang.DESIGNER_ABOUT}}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="direction">
                <div class="icon"></div>
                <div class="direction-text">
                    <div class="title">{{lang.DEVELOPER}}</div>
                    <div class="text-dir">
                        {{lang.DEVELOPER_ABOUT}}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section class="last">
        {{lang.HIRE}}
    </section>
    <ng-include src="'tpl/footer.html'"></ng-include>
</body>

</html>