<!DOCTYPE html>
<html ng-app="app" ng-controller="appCtrl">
<head>
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Panel</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-translate.js"></script>
    <script src="js/common.js"></script>
    <script src="js/site.panel.js"></script>
</head>
<body style="overflow: hidden">
    <div class="preload">
        <div class="loading"></div>
    </div>
    <header>
        <a href=".">{{lang.HOME}}</a>
    </header>
    <section class="auth">
        <div class="title">{{lang.AUTH}}</div>
        <form method="post" action="javascript:void(null);" ng-submit="login()">
            <input class="auth-input" placeholder="{{lang.PASSWORD}}" type="password" ng-model="field.password" required>
        </form>
    </section>
    <ng-include src="'tpl/footer.html'"></ng-include>
</body>

</html>