<footer>
    <div class="left">
        <div class="name">{{lang.NAME}} <span>{{lang.YEAR}}</span></div>
        <div class="links">
            <a href="#">VK</a> &middot;
            <a href="#">Facebook</a> &middot;
            <a href="#">Twitter</a> &middot;
            <a href="#">Telegram</a>
        </div>
    </div>
    <div class="right">
        <a ng-href="{{domain}}" ng-class="(page == 'home') ? 'active-link' : false">{{lang.HOME}}</a>
        <a ng-href="{{domain}}/projects" ng-class="(page == 'projects') ? 'active-link' : false">{{lang.PROJECTS}}</a>
        <a ng-href="{{domain}}/blogs" ng-class="(page == 'blog') ? 'active-link' : false">{{lang.BLOG}}</a>
        |
        <a href="#" ng-click="changeLang(reverseLang[0], $cookies, translationService, $scope)">{{reverseLang[1]}}</a>
    </div>
    <div class="clear"></div>
</footer>